@font-face {
    font-family: 'Apercu';
    src: url(./font/Apercu-Font-Family/Apercu\ Pro\ Regular.otf);
}

body{
    margin: 0;
    font-family: 'Apercu';
}
body a{
    text-decoration: none;

}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFD2A6;
    background-color: #F5F0EB;

}
.nav-container h3, a{
    color: #2C2B2E;
}
#nav-link1{
    width: 55%;
    display: flex;
    justify-content: center;

}
#nav-link1 a{
    margin: 0 30px;
    color: #B7B7B7;
}
#nav-link2 a{
    padding: 10px 10px;
}
#nav-link2 #nav-alink1{
    color: #332269;
}
#nav-link2 #nav-alink2{
    background-color: #DAD2F6;
    color: #2C2B2E;
    border-radius: 5px;
}
.bi-search{
    color: #B7B7B7;
}
.bi-caret-down{
    position: relative;
    top: 2px;
    left: 3px;
}
/* section 1 */

.section1{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(95.64deg, #ECE7FF 0%, #F9E4D0 100.01%);
    position: relative;
    overflow: hidden;

}
#subsectA{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;

}
.section1 #dummy1{
    width: 20%;
    height:300px;
    position: abso2lute;
    top: 380px;
    left: 5%;
}
#subsectA h3{
    width: 40%;
    font-size: 28px;
    color: #2C2B2E;
    line-height: 1.5;
}
#subsectA h3 span{
    color:#765FBE;
}
#subsectA p{
    width: 87%;
    font-size: 18px;
    color: #515A6A;
    margin-top: -10px;
}
#sublink{
    margin: 30px 0;
}
#subsectA a{
    width: 30%;
    padding: 10px 10px;
    border: 1px solid #332269;
}
#subsectA #event1{
    background-color: #332269;
    color: #F4F1FF;
    border-radius: 5px ;
}
#subsectA #event2{
    color: #2C2B2E;
    margin: 0 5%;
    border-radius: 5px ;

}
#subsectB{
    width: 35%;
    position: relative;
}
.section1 #dummy{
    width: 20%;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 60%;

}
#subsectB #img{
    width: 90%;
    height: 150px;
    display: flex;
    margin: 50px auto;
    gap: 1em;
}
#img img{
    width: 100%;
    height: 190px;

}
#subsectB #img1{
    width: 90%;
    height: 100px;
    margin: 10px auto;

}
#img1 img{
    width: 100%;
    height: 150px;
}

/* section 2 */

.section2{
    width: 100%;
    height: 450px;
    background-color: #F5F0EB;
    display: flex;
    justify-content: center;
}
#subsectC{
    width: 50%;
    padding: 50px 0;
}
#subsectC h3{
    width: 40%;
    font-size: 28px;
    color: #2C2B2E;
    line-height: 1.5;
    margin-left: 75px;
    
}
#subsectC h3 span{
    color:#765FBE;
}
#subsectC p{
    width: 87%;
    font-size: 18px;
    color: #515A6A;
    margin-left: 75px;
}
#sublink1{
    margin: 50px 0;
    padding: 0px 70px;
}
#subsectC a{
    width: 30%;
    padding: 10px 10px;
}
#subsectC #event3{
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;


}
#subsectC #event4{
    color: #765FBE;
    margin: 0 5%;
    border-radius: 5px ;

}
#subsectD{
    width: 50%;
    padding: 50px 0;
}
.subD{
    width: 90%;
    height: 90px;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.subD1{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subD2{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subD3{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subD4{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fd1{
    background-color:rgba(255, 84, 3, 0.05);
    border: 1px solid #FF5403;
}
#fd2{
    background-color: rgba(218, 210, 246, 0.4);
    border: 1px solid #765FBE;
}
#fd3{
    background-color: rgba(77, 119, 255, 0.15);
    border: 1px solid #4D77FF;
}
#fd4{
    background-color: rgba(99, 183, 93, 0.1);
    border: 1px solid #63B75D;
}
#fd5{
    background-color: #E4E7EC;
    border: 1px solid #515A6A;
}
#fd6{
    background-color: rgba(253, 46, 179, 0.1);
    border: 1px solid #FD2EB3;
}
#fd7{
    background-color: rgba(251, 180, 72, 0.15);
    border: 1px solid #FBB448;
}
#fd8{
    background-color: rgba(250, 112, 112, 0.1);
    border: 1px solid #FA7070;
}
#fd9{
    background-color: rgba(218, 210, 246, 0.35);
    border: 1px solid #765FBE;
}
#fd10{
    background-color: rgba(68, 142, 246, 0.15);
    border: 1px solid #448EF6;
}
#fd11{
    background-color: rgba(0, 163, 136, 0.1);
    border: 1px solid #00A388;
}
#fd12{
    background-color: rgba(236, 119, 69, 0.1);
    border: 1px solid #EC7745;
}

/* section 3 */

.section3{
    width: 100%;
    background-color: #F4F1FF;
    padding: 70px 0;
}

.section3 h3{
    color: #332269;
    font-size: 25px;
    text-align: center;
    
}
.section3 p{
    color: #515A6A;
    width: 45%;
    margin: auto;
    font-size: 16px;
    text-align: center;

}
.subsectE{
    width:90%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    margin: 50px auto;

}
.subsectE .subE{
    width: 21%;
    border: 1px solid;

}
.subE img{
    width: 100%;
    height: 300px;
}
.subEtxt{
    display: flex;
    border: 1px solid;
}
.subEtxt p{
    font-size: 10px;

}
.section3 #event5{
    width: 30%;
    padding: 10px 10px;
    color: #2C2B2E;
    margin: 0 45%;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;

}

/* section 4 */

.section4{
    width: 100%;
    height: 2000px;
    background-color: #E5E5E5;
    padding: 60px 0;
    box-sizing: border-box;
}
.subsectF{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.subA{
    width: 45%;

}
.subB{
    width:53%;   
    padding: 0 20px;
    box-sizing: border-box;
}
.sub-txt span{
    color: #765FBE;
}
.sub-txt h2{
    color: #2C2B2E;
    width: 45%;
    font-size: 25px;
}
.sub-txt p{
    color: #515A6A;
    width: 85%;
}
.subA img{
    width: 100%;
    height: 500px;
}

.subcat-1{
    display: flex;
}
.subcat-2{
    display: flex;

}
.subcat{
    width: 50%;
    display: flex;
    gap: 1em;
    margin: 15px 0;

}
.subcatimg{
    width: 15%;
}
.subcatimg img{
    width: 100%;
    margin: 15px 0;
}

.subcat-txt{
    width: 100%;
    color: #515A6A;
}
.subcat-txt h3{
    color: #2C2B2E;
    font-size: 15px;
}
.subcat-txt p{
    width: 95%;
    margin: -5px 0;
    font-size: 15px;

}
#event6{
    width: 30%;
    padding: 10px 10px;
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    position: relative;
    top: 40px;
    border-radius: 5px ;

}
.subC{
    width: 45%;
    height: 800px;
    border-radius:40px ;
    margin: 50px 0;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
}
.subC a{
    width: 30%;
    padding: 10px 10px;
    position: relative;
    top: 30px;
}
.subC #event7{
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;

}
.subC span{
    color: #765FBE;
}
.subC h3{
    color: #332269;
    width: 60%;
    line-height: 1.5;
}
.subC p{
    color: #515A6A;
}

.subC #event8{
    color: #2C2B2E;
    border-radius: 5px ;
}
#talent{
    background-color: #FBFFF1;
}
#hiring{
    background-color: #ECFFF4;
}
#sub-talent{
    width: 100%;
    height: 400px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}
#subcat-talent{
    width: 59%;
    height: 400px;
    border: 1px solid #6C3F13;
    border-radius: 10px;
}
#subcat-talent1{
    width: 40%;

}
#subcat-talent1 img{
    width: 50%;
    margin: 0 50px;
}
#sub-talent h4{
    color: #2C2B2E;
    font-size: 16px;
 
}
#sub-talent p {
    color: #515A6A;
    margin: -14px 0;
}
.subtalent1{
    display: flex;
    gap: 1em;
    height: 70px;
}
.subtalent-img{
    width: 20%;
    height: 50px;
    margin: 18px 0;
}
.subtalent-img img{
    width: 100%;
}
#subtalent2{
    width: 40%;
}
#subtalent2 img{
    width: 100%;
}
#eclipse{
    width: 30%;
    height: 200px;
    position: absolute;
    top:600px;
    left: 70%;
}
#eclipse img{
    width: 100%;
    height:200px ;
}
#eclipse1{
    width: 30%;
    height: 200px;
    position: absolute;
    top:600px;
    left: 0;
}
#eclipse1 img{
    width: 100%;
    height:200px ;
}
#hiring-img{
    width: 60%;
    height: 400px;
    position: absolute;
    top: 400px;
    left: 46%;
}
#hiring-img img{
    width: 80%;
    height: 400px;
    transform: rotate(-2deg);
}
.subsectG{
    width: 90%;
    height: 300px;
    margin: 450px auto;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subsectG p{
    width: 40%;
    padding: 0px 30px;
    color: #332269;
    text-align: center;
}
#subG{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}
#subG img{
    width: 20%;
}

/* footer */

.footer{
    width: 100%;
    height: 400px;
    background-color: #332269;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
    box-sizing: border-box;

}
.foot{
    width: 45%;
}
#foot-img{
    width: 5%;
    height: 40px;
}
.foot h2{
    width: 60%;
    color: #F4F1FF;
}
#foot-input form{
    height: 50px;
}
form input{
    height: 45px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: transparent;
}
form button{
    width: 10%;
    height: 40px;
    background-color: #FFD2A6;
    border: 1px solid #FFD2A6;
}
.foot-link{
    display: flex;
}
#foot-link{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#foot-link a{
    padding: 8px 0;
    color: #FFFFFF;

}
.foot #span{
    justify-content: space-between;
    display: flex;
    margin: 40px 0;
    width: 85%;
    float: right;
    color: #DAD2F6;
}
.foot span{
    position: relative;
    top: 70px; 
    color: #DAD2F6;   
}

/* desktop 2 */
.desktop2{
    width: 100%;
    background-color: #F5F0EB;
}

.filter-item{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 5%;

}
#filter-item{
    width: 100%;
    height: 100px;
    display: flex;
}
.filter{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
}
.item{
    width: 30%;
    height: 30px;
    border-radius: 100%;
    background-color: #D9D9D9;
}
.filter-item button{
    width:10%;
    height: 50px;
    background: transparent;
    border: 1px solid #FFD2A6;
    margin: 0 3%;
}
/* main */
.sub-main{
    width: 90%;
    margin: 0 5%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
.sub-main .subcat{
    width: 25%;
    height: 450px;
    display: inline-block;
    position: relative;
}
.subcat img{
    width: 100%;
}
.subcat #heart{
    height: 35px;
    width: 13%;
    position: absolute;
    left: 80%;
    top: 20px;
    border-radius: 100%;
    background-color: #2C2B2EE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-heart{
    color: #f9f9f9;
}

/* desktop 13 */

.part1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    margin: 50px 0;
    height: 250px;

}
.part1 #boxA{
    width: 35%;
    background-color: #FFD2A6;
    padding: 0 12px;
    box-sizing: border-box;
    border-radius: 10px;

}
.part1 #boxB{
    width: 50%;

}   
#boxB img{
    width: 100%;
    height: 245px;
}
/* part 2 */
.part2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box hr{
    margin: 60px 0;
    border: 1px solid #CCCCCC;
}
#boxC{
    width: 65%;
}
#boxC .box{
    width: 100%;
    display: flex;
    border-top: 1px solid #CCCCCC;

}
.box .box-row{
    padding: 40px 0px;
    width: 50%;
    box-sizing: border-box;
}
.box-row h3{
    color: #332269;
}
.box-row p{
    color: #515A6A;
}


#about-event p{
    width: 95%;
}
.box-row .speaker-img{
    width: 95%;
    display: flex;
    gap: 1em;
}
.speaker-img .img-row{
    width: 35%;
}
.img-row img{
    width: 100%;
}
.img-row h3{
    font-size: 15px;
}
.img-row p{
    font-size: 14px;
}
.img-row span{
   float: right;
}
.box-row .map{
    width: 100%;
}

.map img{
    width: 90%;
}
.box-row #organizer{
    display: flex;
    gap: 0.5em;
}
#organizer-img{
    width: 30%;
}
#organizer-img img{
    width: 100%;
}
#organizer .organizer-social{
    display: flex;
}
.partners{
    display: flex;
    gap: 0.5em;
}
.partners-img{
    width: 25%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-img img{
    width: 100%;

}
#date, #map, #partner{
    padding: 40px 30px;
    box-sizing: border-box;
}
#boxD{
    width: 25%;
}
#boxD p{
    color: #515A6A;
}
#boxD #span{
    background-color: #EB5757;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 8px 10px;
    position: relative;
    top: 10px;
}
.ticket{
    margin: 50px 0;
    border: 1px solid #FFD2A6;
    border-radius: 10px;
}
.ticket .sub-ticket{
    padding: 0px 20px;
}
.sub-ticket h3{
    color: #332269;
}
.sub-ticket p{
    color: #2C2B2E;
    padding: 0;
    margin: 20px 0;
}
.sub-ticket hr{
    margin: 25px 0;
}
#qty label{
    color: #515A6A;
}

.qty-input button{
    width: 15%;
    height: 30px;
    border: 1px solid #332269;
    background-color: transparent;
    border-radius: 5px;
}
.qty-input input{
    height: 40px;
    width: 60%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #FFD2A6;
}
#qty #checkout{
    width: 95%;
    height: 50px;
    background-color: #332269;
    color: #FFFFFF;
    border: 1px solid #332269;
    border-radius:10px ;
    margin: 20px 0;
}

.sub-ticket span{
    float: right;
}

/* signup */
#signup-form h3{
    color: #2C2B2E;
}
#signup-form h2{
    color: #765FBE;
    font-size: 30px;
}
.signup{
    width: 100%;
    display: flex;
}
#signup-form{
    width: 50%;
    padding: 80px 50px;
    background-color: #E5E5E5;
}
#signup-form input{
    border: 1px solid #FFD2A6;
}

#signup-form label{
    color: #515A6A;
}
#signup_form #name{
    display: flex;
    margin: 10px 0;
}
#signup_form #email{
    margin: 10px 0;
}
#signup_form #password{
    margin: 10px 0;
}
#signup_form #submit{
    margin: 10px 0;
}
#signup_form #recover{
    border: 1px solid;
}
#signup_form .form_input{
    width: 95%;
}
/* #name label{
    display: block;
} */

#name .input{
    width: 100%;
}
.input input{
    width: 90%;
}
#form_input{
    position: relative;
}
.eye{
    position: absolute;
    left: 85%;
    top: 2px;
    width: 10%;
    height: 43px;
}
.bi-eye{
    position: relative;
    top: 15px;
    left: 26px;
}
#submit button{
    margin: 10px 0;
    width: 95%;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #765FBE;
    border: 1px solid #765FBE;
}
#submit a{
    color: #765FBE;
} 

#recover a{
    color:#765FBE;
}
#continue{
    width: 90%;
    margin: 20px 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}
#continue p{
    color: #B7B7B7;
}
#continue p::after{
    content: '';
    display: flex;
    width: 25%;
    height: 1px;
    background: #FFD2A6;
    position: absolute;
    top: 27px;
    left:10%

}
#continue p::before{
    content: '';
    display: flex;
    width: 25%;
    height: 1px;
    background: #FFD2A6;
    position: absolute;
    top: 27px;
    left:65%


}


#social-handle{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 20px 10%;
}
#social-handle .cir{
    width: 13%;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #FFD2A6;
    background-color: #FEF1E3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cir img{
    width: 45%;
}
#signup-form1{
    background: linear-gradient(100.54deg, #ECE7FF -31.94%, #F9E4D0 102.02%);
    width: 50%;
    height: 900px;
    display: flex ;
    overflow: hidden;
}
#signup-form1 .img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
#signup-form1 .img img{
    width: 90%;
}
#imgA{
    padding: 40px 0;
}
/* desktop29 */
.pay{
    display: flex;
    width: 100%;
    background: #F5F0EB;
    padding: 50px 50px;
    box-sizing: border-box;
}

#payment-details h3{
    color: #332269;
}
#payment-details input{
    border: 1px solid #FFD2A6;
    outline: none;
    border-radius: 5px;
}
#payment-details #name{
    display: flex;
    margin: 10px 0;
}
#payment-details #name input, #email input{
    height: 40px;
}
#payment-details #email{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    width: 96%;
}
.check{
    margin: 30px 0;
}
#payment-details label{
    color: #515A6A;
}
#payment-details .card{
    width: 94%;
    border: 1px solid #FFD2A6;    
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 30px 0;
}
.card #round{
    margin-left: 60%;
    border: 1px solid;
}
.card #round1{
    margin-left: 74.2%;
    border: 1px solid;
}
.card p{
    margin: 0 15px;
    color: #2C2B2E;
}
.card .bi-credit-card{
    margin: 0 20px;
}
#payment-details .visa{
    width: 94%;
    height: 230px;
    border: 1px solid #FFD2A6;
    border-radius: 5px; 
    margin: 10px 0;
    padding: 20px 15px;
    box-sizing: border-box;
    display:none; 

}
#payment-details .barter{
    width: 94%;
    height: 100px;
    border: 1px solid #FFD2A6;
    border-radius: 5px; 
    margin: 10px 0;
    padding: 20px 0px;
    box-sizing: border-box;
    display:none; 
}
.barter a{
    background-color: #332269;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 5%;
    color: #FFFFFF;
}
.visa img{
    width: 20%;
    height: 30px;
    color: #515A6A;
}
.visa input{
    height: 40px;
}
.visa label{
    color: #515A6A;
}

.visa #card_number{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.visa #card_detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card_input input{
    width: 100%;
}

#payment-final{
    width: 30%;
    border: 1px solid #FFD2A6;
    margin: 0 4%;
    border-radius: 10px;

}
#payment-final img{
    width: 90%;
    height: 300px;
    margin: 20px 5%;
}
#payment-final #container{
    position: relative;
}
#container #heart{
    height: 35px;
    width: 10%;
    position: absolute;
    left: 80%;
    top: 40px;
    border-radius: 100%;
    background-color: #2C2B2EE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container h3, table, span,h4,p{
    margin: 0 5%;

}
#container #container_txt {
    margin-top: -10px;
}

#container_txt h3{
    color: #2C2B2E;
}
#container_txt p{
    color: #515A6A;
    margin: 10px 5%;
}
#container span{
    color: #332269;
}
#total_pay{
    color: #2C2B2E;
}
