@font-face {
    font-family: 'Apercu';
    src: url(./font/Apercu-Font-Family/Apercu\ Pro\ Regular.otf);
}

body{
    margin: 0;
    font-family: 'Apercu';
}
body a{
    text-decoration: none;

}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFD2A6;
    background-color: #F5F0EB;

}
.nav-container h3, a{
    color: #2C2B2E;
}
#nav-link1{
    width: 55%;
    display: flex;
    justify-content: center;

}
#nav-link1 a{
    margin: 0 30px;
    color: #B7B7B7;
}
#nav-link2{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
}
#nav-link2 img{
    padding: 10px 0px;
}
#nav-link2 #nav-alink1{
    color: #332269;
}
#nav-link2 #nav-alink2{
    background-color: #DAD2F6;
    color: #2C2B2E;
    border-radius: 5px;
}
.bi-search{
    color: #B7B7B7;
}
#nav-link1 .bi-caret-down{
    position: relative;
    top: 2px;
    left: 3px;
}
#nav-link2 .bi-caret-down{
    position:relative;
    top: -23px;
}
/* part1 */
#part1{
    width: 100%;
    height: 700px;
    background-color: #F5F0EB;
}
#part1 #event{
    color: #2C2B2E;
    margin: 0px;
    padding: 50px 12%;
    /* font-size: 25px; */

}

#section{
    margin:0px auto;
    width:21%;
    text-align: center;
}
#section img{
    width: 60%;
    /* height: 200px; */
}
#section p{
    color: #2C2B2E;
}
#section a{
    padding: 10px 10px;
    color: #FFFFFF;
    background-color: #332269;
    position: relative;
    top: 30px;
}
/* part2 */
#part2{
    width: 100%;
}
#part2 h3{
    color: #2C2B2E;
}
#part2 #part2_link{
    display: flex;
    width: 50%;
}
#part2_link a{
    padding: 10px 10px;
    color: #B7B7B7;
}
#part2_link .active{
    color: #2C2B2E;
}
#part2 #basic_info{
    width: 50%;
    margin: 30px 0;
}
#basic_info h3{
    color: #332269;
}
#basic_info #title_organizer{
    width: 50%;
}
#title_organizer .event {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#title_organizer .event input{
    height: 40px;
}
#basic_info #cat_format{
    width: 50%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
#cat_format .cat_format{
    width: 45%;
}
.cat_format input{
    width: 95%;
    height: 30px;
}
#cat_format .cat_format{
    display: flex;
    flex-direction: column;
    
}
#part2 #location{
    color: #332269;
}
#location h3{
    color: #332269;
}
#location #location_btn{
    margin: 30px 0;
}
#location #location_btn a{
    padding: 8px 8px;
    border-radius: 8px;
}
#location_btn #lb1{
    background-color: #F4F1FF;
    border: 1px solid #CBBDF8;
}
#location_btn #lb2{
    border: 1px solid #CBBDF8;
}
#location #enter-location{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
#part2 #date_time{
    width: 50%;
    border: 1px solid;
}
#date_time h3{
    color: #332269;
}

#date_time #dt_btn a{
    padding: 8px 8px;
    border-radius: 8px;
}
#dt_btn #lb1{
    background-color: #F4F1FF;
    border: 1px solid #CBBDF8;
}
#dt_btn #lb2{
    border: 1px solid #CBBDF8;
}
#date_time .format{
    display:flex;
}
.format .date_time{
    display: flex;
    flex-direction: column;
}
#date_time #time_zone{
    display: flex;
    flex-direction: column;
}
/* footer */
.foot{
    height: 100px;
    border-top: 1px solid #FFD2A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot .sec{
    display: flex;
}






/* publish-now section */

body{
    background: #F5F0EB;
}


.info_container{
    width: 80%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    box-sizing: border-box;
    justify-content: space-evenly;
    
}
.info_container .event_topics{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    
}
.info_container .event_topics .box{
    width: 20%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #765FBE;
}
.info_container .event_topics .box .line{
    width: 70%;
    height: 3px;
    background-color:#765FBE;
}
.info_container .event_topics .active{
    width: 70%;
    height: 3px;
    background-color:#DAD2F7;;
}

/* design part */

.designer_box{ 
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.designer_box .d_box{
    width: 35%;
    height: 200px;
    background: #FEF1E3;
    font-size: 13px;
    padding:0% 3% 0% 3%;
    box-sizing: border-box;
    border: 1px solid #FFD2A6;
    border-radius: 5px;

}

.designer_box .d_box h3{
    color: #332269;

}
.designer_box .d_box .liner{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
   border-top: 1px solid #FFD2A6;

}

.designer_box img{
    width: 60%;
    height: 200px;
    
    
}

/* form part */


.querry{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.querry1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 24px;
    box-sizing: border-box;
}
.querry1 input{
    width: 14%;
    height: 14px;
    
    
 }

.querry1 div{
    width: 100%;
    height: 30px;
   
}
.querry1 div h3{
   font-size: 15px;
   margin: 0px;
   font-weight: lighter;
}
#event-type{
    height: 300px;
}
#public-event{

    justify-content: center;

}
.date-time{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}
.date-time .box{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.date-time .box .time-box{
    width: 100%;
    height: inherit;
}
.date-time .box h6{
   margin: 0px;
   font-size: 14px;
   color: #515A6A;
   font-weight: normal;
}

.date-time .box .time-box input{
    width: 90%;
    height: 37px;
    background: #FEF1E3;
    border: 1px solid #FFD2A6;
    border-radius: 4px;
    color: #515A6A;
}

/* When the event is selcted as private */

.querry .audiences{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.audiences .link{
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CBBDF8;
    border-radius: 5px;
    cursor: pointer;
}
.audiences .active{

    background-color: #F4F1FF;
}
#private-event, #private-event2{
    display: none;
}


.querry .password{
    width: 100%;
   margin-top: 15%;
   display: none;
}
.querry .password .details{
    width: 90%;
    height: 50px;
    border: 1px solid #FFD2A6;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    box-sizing: border-box;
}
.querry .password .details input{
    width: 90%;
    height: 40px;
    outline: none;
    padding-left: 5px;
    border: none;
    background-color: transparent;
}
.querry .password .details i{
    cursor: pointer;
}
.password h5{
    margin: 0px;
}